#nvncbl-square-accepted-cards img {
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	display: inline-block;
}
#nvncbl-square-accepted-cards.nvncbl-square-detected img {
	opacity: 0.3;
}
#nvncbl-square-accepted-cards.nvncbl-square-detected img.active {
	opacity: 1;
}

input#nvncbl_square_cc_number {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	background-position-x: 80%;
	-moz-transition: background-position-x 0.25s ease-in-out;
	-webkit-transition: background-position-x 0.25s ease-in-out;
	transition: background-position-x 0.25s ease-in-out;
}

input#nvncbl_square_cc_number.cctype-detected {
	background-position-x: 99%;
}

.adminhtml-sales-order-create-index #payment_form_nvncbl_square input[type="text"]
{
	width: 200px;
}