<?xml version="1.0"?>
<config>
	<modules>
		<Nvncbl_MenuBuilderPro>
			<version>1.2.0</version>
		</Nvncbl_MenuBuilderPro>
	</modules>
	<global>
		<blocks>
			<menubuilderpro>
				<class>Nvncbl_MenuBuilderPro_Block</class>
			</menubuilderpro>
			<page>
				<rewrite>
					<html_topmenu>Nvncbl_MenuBuilderPro_Block_Page_Html_Topmenu</html_topmenu>
				</rewrite>
			</page>
		</blocks>
		<helpers>
			<menubuilderpro>
				<class>Nvncbl_MenuBuilderPro_Helper</class>
			</menubuilderpro>
		</helpers>
		<models>
			<menubuilderpro>
				<class>Nvncbl_MenuBuilderPro_Model</class>
				<resourceModel>menubuilderpro_mysql4</resourceModel>
			</menubuilderpro>
			<menubuilderpro_mysql4>
				<class>Nvncbl_MenuBuilderPro_Model_Mysql4</class>
				<entities>
					<menu>
						<table>nvncbl_menubuilderpro_menu</table>
					</menu>
				</entities>
			</menubuilderpro_mysql4>
		</models>
		<resources>
			<menubuilderpro_setup>
				<setup>
					<module>Nvncbl_MenuBuilderPro</module>
					<class>Nvncbl_MenuBuilderPro_Model_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</menubuilderpro_setup>
			<menubuilderpro_write>
				<connection>
					<use>core_write</use>
				</connection>
			</menubuilderpro_write>
			<menubuilderpro_read>
				<connection>
					<use>core_read</use>
				</connection>
			</menubuilderpro_read>
		</resources>
	</global>
	<admin>
		<routers>
			<menubuilderpro>
				<use>admin</use>
				<args>
					<module>Nvncbl_MenuBuilderPro</module>
					<frontName>menubuilderpro</frontName>
				</args>
			</menubuilderpro>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<cms>
				<children>
					<settings module="menubuilderpro">
						<title>Menu Builder Pro</title>
						<sort_order>100</sort_order>
						<action>menubuilderpro/configure</action>
					</settings>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<menubuilderpro translate="title" module="menubuilderpro">
											<title>Menu Builder Pro Settings</title>
										</menubuilderpro>
									</children>
								</config>
							</children>
						</system>
						<cms>
							<children>
								<menubuilderpro>
									<title>Menu Builder Pro</title>
									<sort_order>100</sort_order>
								</menubuilderpro>
							</children>
						</cms>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<menubuilderpro>
					<file>nvncbl_menubuilderpro.xml</file>
				</menubuilderpro>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<menubuilderpro>
					<file>nvncbl_menubuilderpro.xml</file>
				</menubuilderpro>
			</updates>
		</layout>
		<events>
			<page_block_html_topmenu_gethtml_before>
				<observers>
					<menubuilderpro_set_topmenu>
						<class>menubuilderpro/observer</class>
						<method>setTopMenu</method>
					</menubuilderpro_set_topmenu>
				</observers>
			</page_block_html_topmenu_gethtml_before>
		</events>
	</frontend>
	<default>
		<menubuilderpro>
			<topmenu>
				<active>0</active>
			</topmenu>
		</menubuilderpro>
	</default>
</config>