<?xml version="1.0"?>
<config>
	<modules>
		<Nvncbl_Square>
			<version>2.0.1</version>
		</Nvncbl_Square>
	</modules>
	<global>
		<models>
			<nvncbl_square>
				<class>Nvncbl_Square_Model</class>
			</nvncbl_square>
		</models>
		<helpers>
			<nvncbl_square>
				<class>Nvncbl_Square_Helper</class>
			</nvncbl_square>
		</helpers>
		<blocks>
			<nvncbl_square>
				<class>Nvncbl_Square_Block</class>
			</nvncbl_square>
			<payment>
				<rewrite>
					<info>Nvncbl_Square_Block_Payment_Info</info>
				</rewrite>
			</payment>
		</blocks>
		<resources>
			<nvncbl_square_setup>
				<setup>
					<module>Nvncbl_Square</module>
					<class>Nvncbl_Square_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</nvncbl_square_setup>
			<nvncbl_square_write>
				<connection>
					<use>core_write</use>
				</connection>
			</nvncbl_square_write>
			<nvncbl_square_read>
				<connection>
					<use>core_read</use>
				</connection>
			</nvncbl_square_read>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<wordpress>
					<file>nvncbl_square.xml</file>
				</wordpress>
			</updates>
		</layout>
		<!--<events>
			<catalog_product_save_after>
				<observers>
					<wp_associations>
						<type>singleton</type>
						<class>wordpress/observer</class>
						<method>saveAssociationsObserver</method>
					</wp_associations>
				</observers>
			</catalog_product_save_after>
		</events>-->
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<nvncbl_square before="Mage_Adminhtml">Nvncbl_Square_Adminhtml</nvncbl_square>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<nvncbl_square>
				<use>standard</use>
				<args>
					<module>Nvncbl_Square</module>
					<frontName>nvncbl_square</frontName>
				</args>
			</nvncbl_square>
		</routers>
	</frontend>
	<default>
		<payment>
			<nvncbl_square>
				<model>nvncbl_square/standard</model>
				<active>0</active>
				<order_status>processing</order_status>
				<title>Credit Card (Square)</title>
				<payment_action>authorize_capture</payment_action>
				<allowspecific>0</allowspecific>
				<enable_saved_cc>1</enable_saved_cc>
				<enable_apple_pay>1</enable_apple_pay>
				<sort_order>1</sort_order>
			</nvncbl_square>
		</payment>
	</default>
	<crontab>
		<jobs>
			<nvncbl_square_renew_access_token>
				<schedule>
					<cron_expr>0 0 * * *</cron_expr>
				</schedule>
				<run>
					<model>nvncbl_square/cron::renewAccessTokens</model>
				</run>
			</nvncbl_square_renew_access_token>
		</jobs>
	</crontab>
</config>
